<ion-content>

  <div style="background: #004c8c;text-align: center;height: 56px; overflow: hidden;">
    <img src="assets/images/logo.svg" style="width:100%; max-width: 155px;margin-top:5px">
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-text-center">
        <a [routerLink]="['/cita-registro']" class="home-button">
          <div class="item">
            <img src="assets/images/icons/date.png">
            <div>Solicitar cita</div>
          </div>
        </a>
      </ion-col>
      <ion-col class="ion-text-center">
        <a [routerLink]="['/cita']" class="home-button">
          <div class="item">
            <img src="assets/images/icons/diary.png">
            <div>Mis citas</div>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-text-center">
        <a [routerLink]="['/medico']" class="home-button">
          <div class="item">
            <img src="assets/images/icons/doctor.png">
            <div>Médicos</div>
          </div>
        </a>
      </ion-col>
      <ion-col class="ion-text-center">
        <a [routerLink]="['/sede']" class="home-button">
          <div class="item">
            <img src="assets/images/icons/hospital.png">
            <div>Sedes</div>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-text-center">
        <a [routerLink]="['/especialidad']" class="home-button">
          <div class="item">
            <img src="assets/images/icons/especialidad.png">
            <div>Especialidades</div>
          </div>
        </a>
      </ion-col>
      <ion-col class="ion-text-center">
        <a href="tel:+5115330856" class="home-button">
          <div class="item">
            <img src="assets/images/icons/emergencia.png">
            <div>Emergencias</div>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <a (click)="logout()" class="home-button">
          <div class="item" style="height: 75px; background:#0079c1;">
            <div style="color: #fff">Cerrar sesión</div>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>