.home-button {
    text-decoration: none;
    color: #000;
}
.home-button .item {
    text-align: center;
    width: 100%;
    height: 140px;
    border-radius: 5px;
    background: #fff;
    padding-top: 26px;
    // box-shadow: 0 2px 2px #d2d2d2;
}
.home-button .item img{
    width: 100%;
    max-width: 70px;
}

/*--ion-background-color: linear-gradient(0deg, #f4f4f4 85%, #0076b8 70%);*/