/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Angular material */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Custom */
.title{color: #575757; text-transform: uppercase; padding: 1px; border-bottom: 1px solid #ddd;}
.detail{padding: 3px 0 3px; margin-bottom: 12px;}

/* Colores */
$mat-myapp-primary: (
    50 : #e0eff6,
    100 : #b3d6ea,
    200 : #80bbdc,
    300 : #4d9fcd,
    400 : #268bc3,
    500 : #0076b8,
    600 : #006eb1,
    700 : #0063a8,
    800 : #0059a0,
    900 : #004691,
    A100 : #bdd8ff,
    A200 : #8abaff,
    A400 : #579cff,
    A700 : #3d8cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #e0f6f0,
    100 : #b3ead9,
    200 : #80dcbf,
    300 : #4dcda5,
    400 : #26c392,
    500 : #00b87f,
    600 : #00b177,
    700 : #00a86c,
    800 : #00a062,
    900 : #00914f,
    A100 : #bdffdc,
    A200 : #8affc2,
    A400 : #57ffa7,
    A700 : #3dff9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
