<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle de cita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading && !refresh"></ion-progress-bar>
  <ion-refresher slot="fixed" (ionRefresh)="cargarDatos(true, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="padding: 20px;" *ngIf="paciente != ''">
    <div class="title"><b>Paciente</b></div>
    <div class="detail">{{paciente}}</div>

    <div class="title"><b>Sede</b></div>
    <div class="detail">{{sede}}</div>

    <div class="title"><b>Especialidad</b></div>
    <div class="detail">{{especialidad}}</div>

    <div class="title"><b>Médico</b></div>
    <div class="detail">{{medico}}</div>

    <div class="title"><b>Fecha y hora</b></div>
    <div class="detail">{{fecha}} {{hora}}</div>

    <div class="ion-text-center">
      <button style="margin: 0 3px" mat-raised-button (click)="back()">Regresar</button>
      <button style="margin: 0 3px" mat-raised-button color="warn" (click)="anular()" *ngIf="cita_estado_id == 1">Anular cita</button>
    </div>
  </div>
  
</ion-content>
