<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Médicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading && !refresh"></ion-progress-bar>
  <ion-refresher slot="fixed" (ionRefresh)="cargarLista(true, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-padding>
    <ion-item *ngFor="let item of listado">
      <ion-avatar slot="start">
        <img src="assets/images/icons/doctor.png" style="border-radius: 0">
      </ion-avatar>
      <ion-label>
        <h2>{{item.medico}}</h2>
        <h3>{{item.especialidad}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
