<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro de paciente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formRegister" (ngSubmit)="submitRegister()" style="margin: 5px">
    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field style="height: 45px; width:100%; overflow: hidden;">
            <mat-label>Tipo Doc.</mat-label>
            <mat-select formControlName="tipo_doc">
              <mat-option [value]="1">DNI</mat-option>
              <mat-option [value]="2">C.E.</mat-option>
              <mat-option [value]="3">N° Pasaporte</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <ion-input placeholder="N° Documento" formControlName="n_documento"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Apellido Paterno" formControlName="apellido_pa"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Apellido Materno" formControlName="apellido_ma"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field style="height: 45px; width:100%; overflow: hidden;">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
              <mat-option [value]="2">Femenino</mat-option>
              <mat-option [value]="1">Masculino</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" (click)="showDatepicker()" readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Celular" formControlName="celular"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Confirma contraseña" type="password" formControlName="re_password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" type="submit" expand="block">Registrarme</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <div class="ion-text-center" style="margin: 10px 0 15px">
    ¿Ya tienes cuenta?
    <a (click)="back()">Ingresa aquí</a>
  </div>

</ion-content>
