<ion-content>

      <div class="ion-text-center" style="background-color: #004c8c;">
        <img src="assets/images/logo.svg" style="width: 100%; max-width: 280px; margin: 50px 0 50px ">
      </div>

      <form [formGroup]="formLogin" (ngSubmit)="submitLogin()" style="margin: 10px 15px 0">
        
        <div style="margin: 5px 2px;">
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </div>

        <div style="margin: 5px 2px;">
          <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
        </div>

        <ion-button color="primary" type="submit" expand="block">Ingresar</ion-button>

      </form>
        
      <div class="ion-text-center" style="margin-top: 10px">
        ¿No tienes cuenta? 
        <a [routerLink]="['/register']">Regístrate aquí</a>
      </div>

</ion-content>