<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sedes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card style="--background:#fff">
    <img src="assets/images/sede-jazmines.png" (click)="open('https://goo.gl/maps/JHdtjbNSnNNFWHz4A')"/>
    <ion-card-header>
      <!--<ion-card-subtitle></ion-card-subtitle>-->
      <ion-card-title>Sede Los Jazmines</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/maps.png" style="width: 16px; float:left; margin-right: 10px" />
        <span (click)="open('https://goo.gl/maps/JHdtjbNSnNNFWHz4A')">          
        Jr. Los Lazmines 122 Urb. Primavera - Los Olivos, Lima
        </span>
      </div>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/telephone.png" style="width: 16px; float:left; margin-right: 10px" />
        <span (click)="open('tel:5115330856')">533-0856</span> / 
        <span (click)="open('tel:5115335330')">533-5330</span>
      </div>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/whatsapp.png" style="width: 16px; float:left; margin-right: 10px" /> 
        <span (click)="open('https://api.whatsapp.com/send?phone=51993517073')">993 517 073</span>
      </div>
    </ion-card-content>
  </ion-card>

   <ion-card style="--background:#fff">
    <img src="assets/images/sede-pilas.png" (click)="open('https://goo.gl/maps/rBawPMKRio557Fnr6')"/>
    <ion-card-header>
      <!--<ion-card-subtitle></ion-card-subtitle>-->
      <ion-card-title>Sede Pilas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/maps.png" style="width: 16px; float:left; margin-right: 10px" />
        <span (click)="open('https://goo.gl/maps/rBawPMKRio557Fnr6')">Jr. Sol de Oro 7102 Urb. Sol de Oro - Los Olivos, Lima</span>
      </div>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/telephone.png" style="width: 16px; float:left; margin-right: 10px" />
        <span (click)="open('tel:5116027383')">602-7383</span>
      </div>
      <div style="padding: 5px 0">
        <img src="assets/images/icons/whatsapp.png" style="width: 16px; float:left; margin-right: 10px" /> 
        <span (click)="open('https://api.whatsapp.com/send?phone=51982055900')">982 055 900</span>
      </div>
    </ion-card-content>
  </ion-card>
    
  
</ion-content>
