<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro de cita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf="completado">
    <div style="padding-top:25px">
      <div style="text-align: center">
        <img src="assets/images/icons/check.png" style="height: 80px">
        <h4 style="color:#00c853;font-weight: bold;">Cita Confirmada</h4>

        <div class="title"><b>Paciente</b></div>
        <div class="detail">{{textPaciente}}</div>

        <div class="title"><b>Sede</b></div>
        <div class="detail">{{textSede}}</div>

        <div class="title"><b>Especialidad</b></div>
        <div class="detail">{{textEspecialidad}}</div>

        <div class="title"><b>Médico</b></div>
        <div class="detail">{{textMedico}}</div>

        <div class="title"><b>Fecha y hora</b></div>
        <div class="detail">{{textFecha}}</div>

        <div style="margin-bottom: 10px"><b>Importante: Debe asistir 30 minutos antes para realizar el pago en caja.</b>
        </div>

        <button mat-raised-button (click)="back()">Regresar</button>
      </div>
    </div>
  </div>
  <div *ngIf="!completado">
    <ion-grid style="margin: 10px">
      <ion-row>
        <ion-col>
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Sede" [(ngModel)]="idSede" (selectionChange)="cargarEspecialidad()">
              <mat-option *ngFor="let s of listaSede" [value]="s.id">{{s.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Especialidad" [(ngModel)]="idEspecialidad" (selectionChange)="cargarMedico()">
              <mat-option *ngFor="let s of listaEspecialidad" [value]="s.id">{{s.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Médico" [(ngModel)]="idMedico" (selectionChange)="cargarFecha()">
              <mat-option *ngFor="let s of listaMedico" [value]="s.id">{{s.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Día" [(ngModel)]="fecha" (selectionChange)="cargarHora()">
              <mat-option *ngFor="let s of listaFecha" [value]="s.id">{{s.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="idMedico && fecha != null">
            <div style="font-size:11px; color: rgba(0, 0, 0, 0.54);">Hora</div>
            <div *ngIf="listaHoras.length == 0">No hay horas disponible.</div>
            <div *ngIf="listaHoras.length > 0" style="overflow: auto;white-space: nowrap;padding:5px 0">
              <button *ngFor="let s of listaHoras" mat-raised-button [color]="(horaInicio == s.inicio ? 'accent' : '')"
                (click)="setHora(s.inicio, s.fin)" style="margin:5px">{{s.hora}}</button>
            </div>
            <div *ngIf="listaHoras.length > 0">
              <div style="font-size:11px; color: rgba(0, 0, 0, 0.54);">Importe</div>
              <div style="font-size: 33px;font-weight: bold;">S/ {{ (importe).toFixed(2) }}</div>
              <div><b>Importante: Debe asistir 30 minutos antes para realizar el pago en caja.</b></div>
            </div>
            <input type="hidden" [(ngModel)]="importe">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="margin:0 18px">
      <ion-button color="primary" type="submit" (click)="submitCita()" [disabled]="!(horaInicio && idMedico)"
        expand="block">Registrar</ion-button>
    </div>
  </div>

</ion-content>