<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Especialidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ion-item *ngFor="let item of listado">
      <ion-avatar slot="start">
        <img src="assets/images/icons/especialidad.png" style="border-radius: 0">
      </ion-avatar>
      <ion-label>
        <h3>{{item.especialidad}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
