<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading && !refresh"></ion-progress-bar>
  <ion-refresher slot="fixed" (ionRefresh)="cargarLista(true, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list no-padding>
    <ion-item *ngFor="let item of listado" [routerLink]="['/cita-detalle/'+item.id]">
      <ion-avatar slot="start">
        <img src="assets/images/icons/clock.png" style="border-radius: 0">
      </ion-avatar>
      <ion-label>
        <h2>{{item.especialidad}}</h2>
        <h3>{{item.medico}}</h3>
        <p>{{item.fecha}}</p>
        <span
          [ngStyle]="{'background': '#'+item.estado_color, 'padding':'3px', 'color':'#fff','font-size':'11px','border-radius':'5px'}">{{item.estado}}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/cita-registro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>